{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["@typescript-eslint", "import", "@stylistic/js"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "import/newline-after-import": ["error", { "count": 1 }],
    "@stylistic/js/padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" }
    ],
    "@typescript-eslint/lines-between-class-members":"error",
    "no-console": "error"
  },
  "ignorePatterns": ["webpack.config.js", "serverless.ts", "jest.config.js"]
}
